@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");
:root {
  /*Primary Colours*/
  --dark_cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  /*Neutral*/
  --very_dark_blue: hsl(212, 21%, 14%);
  --dark_grayish_blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  display: flex;
  align-items: center;
  min-height: 100%;
  text-align: center;
}

body {
  margin: 0 auto;
  min-height: 100%;
  background: var(--cream);
  font-family: "Montserrat";
}
img {
  max-width: 100%;
}
p {
  font-size: 0.875em;
  color: var(--dark_grayish_blue);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  padding: 0.5em;
}
.desktopImg {
  display: none;
}
.product-image {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  width: 90%;
  margin: auto;
  text-align: left;
  max-width: 500px;
}

.mainContent {
  padding: 2em;
}

.productTag {
  color: var(--dark_grayish_blue);
}
.productTitle {
  font-family: "Fraunces";
  font-weight: 700;
}

.priceInfo {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  /* background-color: red; */
  align-items: center;
}

.priceTag {
  color: var(--dark_cyan);
  font-weight: 700;
  font-size: 2em;
  margin: 0;
}

.discountedPriceTag {
  margin-left: 1em;
  text-decoration: line-through;
}

.addToCart {
  margin-top: 1em;
  padding: 1em 3em;
  font-size: 1em;
  width: 100%;
  background-color: var(--dark_cyan);
  color: white;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
}
.addToCart:hover,
.addToCart:focus {
  opacity: 0.65;
}
.shoppingCartIcon {
  margin-right: 0.4em;
}

.attribution {
  margin: 1em;
}

@media (min-width: 1440px) {
  .card {
    flex-direction: row;
    border-radius: 15px;
    min-width: 600px;
  }

  .desktopImg {
    display: block;
  }
  .mobileImg {
    display: none;
  }
  .product-image {
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0px;
  }
  .mainContent {
    background-color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .col {
    width: 50%;
  }
}
